NEXT_PUBLIC_API_URL="http://localhost:4000/api/graphql"
NEXT_PUBLIC_BACKEND_ORIGIN="http://localhost:4000"
NEXT_PUBLIC_ENABLE_WEBSOCKETS="true"
NEXT_PUBLIC_REALTIME_TRANSPORT="socketio"
NEXT_PUBLIC_SOCKET_IO_URL="http://localhost:4000"
NEXT_PUBLIC_BASE_PATH=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_APPWRITE_ENDPOINT="https://nyc.cloud.appwrite.io/v1"
NEXT_PUBLIC_APPWRITE_PROJECT_ID="69d0695b00063d876b0d"
NEXT_PUBLIC_APPWRITE_DATABASE_ID="sinal"
NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID="users"
NEXT_PUBLIC_APPWRITE_MESSAGES_COLLECTION_ID="messages"
NEXT_PUBLIC_APPWRITE_GROUPS_COLLECTION_ID="groups"
NEXT_PUBLIC_APPWRITE_MEDIA_BUCKET_ID="chat-media"
